.hello {
    color: blue;
}
html{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.router-link-active{
    color: brown;
}
button{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
}
#app{
    width: 100%;
    height: 100%;
    background-color: darkcyan;
}
.loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1000;
	color: white;
}

.flex{
    background-color: white;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.flex div{
    background-color: tomato;
    height: 50px;
    width: 250px;
}

/* modern 风格css*/
#modernHome{
	user-select: none;
	height:100%;
    width: 100%;
    overflow: hidden;
    background-color: #DFE2E5;
    display: flex;
    display: -webkit-flex;
}

.bigtext-div {
    background-color: rgb(23, 22, 22);
    transition: 2s ease;
    height: 100%;
    flex: 0 0 0;
    overflow: hidden;
    position: relative;
    
}
.bigtext-div > span{
    opacity: 0;
    display: block;
    color: #232323;
    left:-107%;
	font-size: 44vw;
    font-weight: 900;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    text-shadow: 20px 20px 0 rgba(0,0,0,0.2);
}
.line-div{
    border-radius: 10%;
    background-color: rgb(150, 150, 150);
    background-image: -webkit-linear-gradient(rgb(150, 150, 150),black ,rgb(150, 150, 150) );
    height: 30%;
    margin:auto 0% auto 50%;
    width: 1px;
    z-index: 100;
}
.btn-div{
    opacity: 0;
    bottom: -20px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    position: absolute;
    width:40px;
    height:40px;
    border-radius: 100%;
    left: calc(50% - 20px);
}
.btn-div:after{
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-radius: 100%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
    background: rgba(255,255,255,0.5);
    z-index: -1;
}
.btn-div:hover{
    cursor: pointer;
}
.btn-div:hover:after{
    transform: translate(-50%, -50%) scale(1.2);
}
.btn-span{
    height: 100%;
    display: block;
}
.btn-svg{
    display: block;
    height: 20px;
    transform: rotate(-90deg);
    width: 20px;
    left: 10px;
    top: 10px;
    position: absolute;
}
.btn-svg>path{
    fill:black;
}
.title-span{
    top: 45%;
    left: calc(50% - 131px);
    position: absolute;
    width: 0px;
    overflow: hidden;
    padding: 3px 0px;
    white-space:nowrap;
    border-radius: 4px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}
.Anima1{/*两个大div的动画*/
    animation: 
    Anima1 0.8s  cubic-bezier(0.42, 0, 1, 0.8);
    animation-fill-mode: forwards;
}
.Anima1_line0{
    animation: Anima1_line0 0.4s  cubic-bezier(0.42, 0, 1, 0.8);
    animation-fill-mode: forwards;
}
.Anima1_line1{
    animation: Anima1_line1 0.8s  cubic-bezier(0.42, 0, 1, 0.8);
    animation-fill-mode: forwards;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-image: -webkit-linear-gradient(rgb(150, 150, 150),rgb(150, 150, 150));
}
.Anima2{/*中间那个“web前端景雪峰”的动画*/
    animation: Anima2 0.8s cubic-bezier(0.42, 0, 1, 0.67);
    animation-fill-mode: forwards;
}
.Anima3{/*最开始线段加载的动画*/
    animation:Anima3 1.6s infinite  ease;
    background-position: 0% 0%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
.Anima4{
    animation: Anima4 0.8s cubic-bezier(0.42, 0, 1, 0.8);
    animation-fill-mode: forwards;
}
.Anima5{/*下方，带箭头的按钮*/
    animation: Anima5 0.8s;
    animation-fill-mode: forwards;
}

@keyframes Anima1{
    0%{
        flex-basis: 0px;
    }
    100%{
        flex-basis: calc(50% - 0.5px);
    }
}
@keyframes Anima1_line0{
    0%{
        height: 30%;
    }   
    100%{
        height: 100%;
    }
}
@keyframes Anima1_line1{
    0%{
        margin-left: 50%;
    }   
    100%{
        margin-left: 0%;
    }
}
@keyframes Anima2{
    0%{
        padding: 3px 0px;
        width: 0px;
    }
    100%{
        padding: 3px 20px;
        width: 222px;
    }
}
@keyframes Anima3{
    0%{
        background-position: -30% -30%;
    }
    100%{
        background-position: 130% 130%;
    }
}
@keyframes Anima4{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes Anima5{
    0%{
        bottom: -20px;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        bottom: 40px;
    }
}

/*简历界面*/
#contentHome{

    background-color: rgb(23, 22, 22);
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
}
#contentHome::after {
    content: "";/* 必须要加content，不然显示不出来*/
    left: calc(50% - 0.5px);
    height: 100%;
    display: block;
    width: 1px;
    background-color: rgb(150, 150, 150);
    position:absolute;
}
.content-div{
    background-color: #f9f9f9;
    width: 40%;
    height: 80%;
    margin: 10% 0px;
    margin-bottom: 0;
}
.content-div:nth-child(1){
    margin-left: 10%;
}
.content-div:nth-child(2){
    margin-right: 10%;
}
.content-div>div{
    width: 70%;
    height: 18%;
    display: inline-block;
}
.content-div>span,.content-div>div{
    margin:20% 5% 10% 20%;
}
.face-canvas{
    position: absolute;
    margin: -20% 0% 0% 20%;
}
.face-span{
    width: 7em;
    height: 7em;
    display: block;
    border-radius: 50%;
    background-size: cover;
    background-image: url(./img/face.jpg);
}
.content-div>div>span{/*span的整体属性*/
    display: block;
    margin-top: 10px;
    opacity: 0.4;
}
.content-title-span{
    margin-left: 15%;
    letter-spacing: 2px;
}
.content-title-span:after{
    content: "";
    display: block;
    position: relative;
    top: -10px;
    left:-17%;
    width: 13%;
    height: 1px;
    background-color: black;
}
.content-div>div>.content-main-span{
    opacity: 0.8 ;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
}
.content-main-span h1{
    display: inline;
    font-size: 1em;
}

/*具体项目界面*/
#detailHome{
    background-color: salmon;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:-1;
}
.detail-div{
    position:absolute;
    height: 100%;
    width: 50%;
    background-color: seagreen;

}
.detail-div>span{
    font-size: xx-large;
    position: relative;
    top: 50%;
}

/*手机端适配  */
@media (max-width:1000px){
    .bigtext-div:nth-child(1) > span {
        left: 40% !important;
        writing-mode: vertical-lr;
    }
    .bigtext-div:nth-child(4)>span{
        left:-60% !important;
        writing-mode: vertical-lr;
    }
    .content-div>div>.content-main-span{
        opacity: 0.8;
        font-size: 2.4vw;
        line-height: 2em;
        letter-spacing: 0.1em;
    }

}


/*

.bigtext-div > span{
	color: white;
	font-size: 44vw;
    font-weight: 900;
    white-space: nowrap;
    position: absolute;
    top: 30%;
    transform: translate(-10%, -50%) ;
    opacity: 0;
	transition: 1s ease;
    will-change: transform, opacity;
	color: #232323;
	text-shadow: 20px 20px 0 rgba(0,0,0,0.2);
}
.line-div{
	transition: 1s ease;
	position: relative;
	left: 50%;
	width: 1px;
	height: 100%;
	background-color: white;
}
.title-div{
	color: black;
	background-color: white;
	transition: 1s ease;
	position: absolute;
	height: 6%;
	width: 0%;
	top: 47%;
	left: calc(50% - 110px);
	font-size: 22px;
	text-align: center;
	border-radius: 3px;
	line-height: 37px;
	white-space:nowrap;
	overflow: hidden;
}
.title-div:hover{
	font-size: 25px;
}
*/
